<section class="vh-100 gradient-custom card-img-overlay">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-header">
            <div class="d-flex justify-content-end ms-auto">
              <a class="text-decoration-none float-end" (click)="closePopup()">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="card-body text-center">
            <h2 class="fw-bold mb-2 text-uppercase">Edit</h2>
            <p class="text-white-50">Modifica giorno e descrizione</p>
            <div class="mb-3">
              <label for="giornoScheda" class="form-label">Giorno scheda</label>
              <select [(ngModel)]="this.rowData.giorno" class="form-select" id="giornoScheda">
                <option selected disabled>Seleziona un giorno</option>
                <option *ngFor="let day of daysOfWeek" [value]="day">{{ day }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="descrizioneGiorno" class="form-label">Descrizione</label>
              <textarea [(ngModel)]="rowData.descrizione" class="form-control" id="descrizioneGiorno" placeholder="Es. Allenamento gambe" rows="3" maxlength="100"></textarea>
            </div>
            <button (click)="saveChanges()" class="btn btn-outline-light btn-lg px-4" type="submit">Salva modifiche</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

