<main>
    <div style="background-image: url('assets/images/cordeBN.webp');" class="section d-flex justify-content-center align-items-center text-center vh-100">
      <div class="col-md-8">
        <img src="assets/images/scritta.webp" alt="Timed Training" class="img-fluid">
        <h2>Inizia subito ad ottimizzare i tuoi allenamenti</h2>
        <p>Scopri tutte le funzionalità offerte.</p>
        <button routerLink="/offline_timer" class="btn btn-outline-light mx-2">Prova ora</button>
        <button routerLink="/registration" class="btn btn-outline-light mx-2">Registrati</button>
      </div>
    </div>
    <div style="background-image: url('assets/images/RunBN.webp');" class="section d-flex justify-content-center align-items-center text-center vh-100">
      <div class="col-md-8">
        <h2>Tieni le tue schede di allenamento a portata di mano!</h2>
        <p>Una volta registrato potrai liberamente inserire e personalizzare i tuoi programmi di allenamento.</p>
        <img src="../../assets/images/Archivio.webp" alt="Archivio schede" class="img-fluid mb-4">
      </div>
    </div>
    <div style="background-image: url('assets/images/Squat+Rack.webp');" class="section d-flex justify-content-center align-items-center text-center vh-100">
      <div class="col-md-8">
        <h2>Personalizza i giorni della tua scheda</h2>
        <p>Per dare il via al tuo allenamento basta premere play! Non avrai più tempi morti.</p>
        <img src="../../assets/images/Esercizi.webp" alt="Esercizi" class="img-fluid mb-4">
      </div>
    </div>
    <div style="background-image: url('assets/images/stacco.webp');" class="section d-flex justify-content-center align-items-center text-center vh-100">
      <div class="col-md-8">
        <h2>Abilita le notifiche</h2>
        <p>In questo modo, puoi concentrarti al massimo durante l'allenamento, senza dover costantemente controllare quanto tempo rimane. Rilassati, lascia che la nostra app si prenda cura del tempo e goditi un'esperienza di allenamento concentrata e senza distrazioni."</p>
        <img src="assets/images/notifiche.webp" alt="Attiva notifiche" class="img-fluid mb-4" style="border: 1px solid">
      </div>
    </div>
  </main>
