<div class="card-img-overlay container-fluid d-flex align-items-center justify-content-center" style="text-align: center;">
  <div class="bg-white col-sm-6 col-md-6 col-lg-4 mx-auto rounded-4 p-5">
    <h3 class="mb-4">Inserisci le tue credenziali</h3>
    <form [formGroup]="form">
      <div class="form-group mb-4">
        <input formControlName="email" autocomplete="username" type="email" class="form-control form-control-lg" placeholder="example@gmail.com">
        <span class="mt-2" style="color: red" *ngIf="this.email_verified">Verificare indirizzo email (casella di posta)</span>
        <span class="mt-2" style="color: red" *ngIf="resetEmailSent">{{ resetEmailMessage }}</span>
      </div>
      <div class="form-group mb-3">
        <input formControlName="password" autocomplete="current-password" [type]="showPassword ? 'text' : 'password'" class="form-control form-control-lg" placeholder="password">
      </div>
      <div class="form-group form-check  d-flex justify-content-between align-items-center">
        <div>
          <input type="checkbox" class="form-check-input" id="showPasswordCheckbox" (change)="toggleShowPassword()">
          <label class="form-check-label" for="showPasswordCheckbox">Mostra password</label>
        </div>
        <div>
          <button type="button" class="btn btn-outline-primary sentEmailReset" (click)="sendEmailReset()">Password dimenticata</button>
        </div>
      </div>
      <span class="" style="color: red">{{ errorMessage }}</span>
      <div class="mt-2 mb-2">
        <button class="btn btn-outline-primary" (click)="loginWithEmailAndPassword()">Accedi</button>
      </div>
      <hr>
      <div class="mb-2">
        <button class="btn btn-outline-primary align-items-center" (click)="loginGoogle()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
          </svg> Accedi con Google
        </button>
      </div>
      <div>
        <p>Non hai un account? <a routerLink="/registration">Registrati</a></p>
      </div>
    </form>
  </div>
</div>
