<div class="section d-flex justify-content-center text-center">
  <div class="col-md-8 mt-5">
    <h3 class="alert-heading mt-5">Email di Verifica Inviata!</h3>
    <p>
      Abbiamo inviato una email di verifica al tuo indirizzo email.
      Per favore, controlla la tua casella di posta e segui le istruzioni
      per completare la verifica del tuo account.
    </p>
    <hr>
    <p class="mb-0">Grazie per aver scelto Timed Training!</p>
    <button class="btn btn-outline-dark mt-4" routerLink="/login">Accedi ora</button>
  </div>
</div>

